{#=====================================================
  Home page
=====================================================#}
{% extends 'pages/_base.jinja' %}

{% block content %}

    {% if session.logged_in %}
      <h2>Jobs you posted</h2>
    {% else %}
      <h2>All Jobs</h2>
    {% endif %}

    <section id="jobs-list">

      {% for job in jobs %}
          <div class="jobs-item">
            <header>
                <h3>{{ job.title }}</h3>
            </header>

            <p>{{ job.notes }}</p>
            <p>{{ job.address }}</p>
            <p>{{ job.due_by_date }}</p>
          </div>
      {% endfor %} 
        
      {% if session.logged_in %}
        <h2>Offers</h2>
        

        {% for offer in offers %} 
          <div class="offers-items">
            <header>
                <h3>{{ offer.jobs }}</h3>
           </header>

            <p>{{ offer.jobs_id }}</p>
          </div>
        {% endfor %}
      {% endif %}

    </section>

{% endblock %}
