{#=====================================================
  Home page
=====================================================#}
{% extends 'pages/_base.jinja' %}

{% block content %}

    {% if session.logged_in %}
      <h2>Jobs you posted</h2>
    {% else %}
      <h2>All Jobs</h2>
    {% endif %}

    <section id="jobs-list">

      {% for job in jobs %}
          <div class="jobs-item">
            <header>
                <h3>{{ job.title }}</h3>
            </header>

            <p>{{ job.notes }}</p>
            <p>{{ job.address }}</p>
            <p>{{ job.due_by_date }}</p>
          </div>

          {% if session.logged_in %}

          <a
          class="button"
          title="Edit message"
          href= "/job/{{job.id}}/edit">Edit</a>

          <a
          class="button"
          title="Delete job"
          onclick="return confirm('Really delete?')"
          href="/job/{{job.id}}/delete"
                        >delete</a>
          {% endif %}


       {% endfor %} 
        
      {% if session.logged_in %}
        <h2>Offers</h2>
        

        {% for offer in offers %} 
          <div class="offers-items">
            <header>
           </header>
            <p>{{ offer.accepted }}</p>
           
          </div>
            <a
          class="button"
          title="Edit message"
          href= "/job/{{offer.id}}/edit">Edit </a>

          <a
          class="button"
          title="Delete job"
          onclick="return confirm('Really delete?')"
          href="/job/{{offer.id}}/delete"
                        >delete</a>


          
        {% endfor %}
      {% endif %}

    </section>

{% endblock %}
