{#=====================================================
  Home page
=====================================================#}
{% extends 'pages/_base.jinja' %}

{% block content %}

    {% if session.logged_in %}
      <h2>Jobs you posted</h2>
    {% else %}
      <h2>All Jobs</h2>
    {% endif %}

    <section id="jobs-list">

      {% for job in jobs %}
          <div class="jobs-item">
            <header>
                <h3>{{ job.title }}</h3>
            </header>

            <p>{{ job.notes }}</p>
            <p>{{ job.address }}</p>
            <p>{{ job.due_by_date }}</p>
          </div>

          {% if session.logged_in %}

            <a
            class="button"
            title="Edit message"
            href= "/job/{{job.id}}/edit">Edit</a>

            <a
            class="button"
            title="Delete job"
            onclick="return confirm('Really delete?')"
            href="/job/{{job.id}}/delete"
                          >delete</a>

            <a
            class="button"
            title="job info"
            href= "/job/{{job.id}}/job_offers">info</a>
  
          {% endif %}


       {% endfor %} 

      {% if session.logged_in %}

        <h3>My Offers</h3>

          {% if offers | length > 0 %}

            {% for offer in offers %}
                <div>
                  <p> title: {{offer.title}}</p>
                  <p> Notes: {{offer.notes}}</p>
                  <p> Accepted: {{offer.accepted}}</p>
                  <p> Done: {{offer.job_done}}</p>
                </div>
            {% endfor %}

          {% else %}
            <p>None</p>
          {% endif %}
      {% endif %}

      
    </section>

{% endblock %}
