{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>jobs</h2>

    <section id="jobs-list">

     {% for jobs in jobs %}

        <div class="jobs-item">
           <header>
               <h3>{{ jobs.title, jobs.notes, jobs.due_by_date }}</h3>
           </header>

          <p class="jobs-body">{{ jobs.body }}</p>
        

          

        {% endfor %}

    </section>

{% endblock %}
