{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>jobs</h2>

    <section id="jobs">

        {% for jobs in jobs %}

          

        {% endfor %}

    </section>

{% endblock %}

